.AdminNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 5px 10px;
}
.logo h1{
    color: green;
    font-weight: 600;
}
.logo h1 span{
color: yellow;
}

.link1{
color: black;
text-decoration: none;
margin-left: 10px;
margin-right: 10px;
}
.link1:hover{
    color: blue;
}